.ToggleBtn {
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
    border-radius: .25em;
    border: 1px solid;
    fill: #fff;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.ToggleBtn > .expander {
    display: inline-block;
    float: left;
}

.ToggleBtn > .label {
    display: inline-block;
    float: right;
}

/* States --------------------- */

.ToggleBtn.montage--active,
.ToggleBtn.montage-Checkbox--checked {
    background-color: currentColor;
}

.ToggleBtn.montage-Checkbox--disabled {
    opacity: .5;
    border-style: dashed;
    pointer-events: none;
}


/* Icon --------------------- */

.digit-Checkbox-icon {
    fill: transparent;
}

.ToggleBtn.montage-Checkbox--checked .digit-Checkbox-icon {
    fill: inherit;
}

.ToggleBtn.montage--active .digit-Checkbox-icon {
    fill: transparent;
}
