.ToggleBtn {
    height: 100%;
}
.ToggleBtn :after {
    content: " + ";
}
.ToggleBtn > .label {
    vertical-align: middle;
}

.ToggleBtn.montage-Checkbox--checked {
    background: #111;
}

.ToggleBtn.montage-Checkbox--checked :after {
    content: " - ";
}

.ToggleBtn.montage--disabled :after {
    content: " ";
}

