.ToggleBtn :after {
    content: " + ";
}
.ToggleBtn > .label {
    vertical-align: middle;
}

.ToggleBtn.montage-Checkbox--checked {
    background: #9b59b6;
}

.ToggleBtn.montage-Checkbox--checked :after {
    content: " - ";
}

.ToggleBtn.montage-Checkbox--disabled :after {
    content: "*  ";
      background: #f1c40f;
}

