.NavLeft {
    background: #333;
    color: #FFF;
    text-align: left;
}

.NavLeft ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.NavLeft li {
    border-bottom: 1px solid #000;
}

.flip {
    height: 900px;
}

.dep {
    visibility: hidden;
    float: left;
}