.Calendar {
    background: #eee;
}
.cal_top_bar {
  display: inline-table;  
}

.Calendar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.rep {
    display: table;
    border: 1px solid #3498db;
}
.inline {
    text-align: center;
    width: 25px; height: 25px;
    float: left;
    margin: 0px;
}
.inline:hover {
     background: #3498db;
}
.dum {
    float: left;
}

.breaker {
    background: red;
    float: left;
    clear: left;
}

#month_minus {
     width: 20px;
     height: 20px;
     background: #3498db;
    float: left;
}
#month_plus {
    width: 20px;
    height: 20px;
    background: #3498db;
    float: left;
}
#year_minus {
    width: 20px;
    height: 20px;
    background: #3498db;
    float: left;
}
#year_plus {
    width: 20px;
    height: 20px;
    background: #3498db;
    float: left;
}