.Cal {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 0.335em;
    padding: 2px;
     text-align: center;
}
.Cal ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.cal_top_bar {
    display: flex;
    overflow: hidden;
}
.cal_top_bar > * {
    display: inline-table;
    vertical-align: middle;   
}
.days {
    display: flex;
}
.days > div {
    text-align: center;
    width: 14%; height: 25px;
    float: left;
    background: #e3e3e3;

}
.inline {
    text-align: center;
    width: 14%; height: 25px;
    float: left;
    margin: 0px;
    cursor:pointer;
}
.inline:hover {
     background: #c3c3c3;
     color: #fff;
}
.inline.selected {
    background: #3498db;
    color: #fff;
}
.dum {
    float: left;
}

.breaker {
    background: red;
    float: left;
    clear: left;
}

.mon_btn {
    background: #3498db;
    color: #fff;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    cursor:pointer;
    margin: 0px;
}

.year_input{
    width: 60px;
}
.month_input{
    width: 80px;
}
.iwraper {
    /* border: 1px solid #3498db;*/
     background: #eee;
     border-radius: 0.335em;
     display: inline-block;    
}
.iwraper > span {
    padding: 0 5px 0 0; 
    color: #3498db;
}
.iwraper > input {
    border: 1px solid #eee;
    border-radius: 0.335em;
}