.Calendar {
    height: 30px;
    border: 3px solid yellow;
}

.rep {
    display: inline-table;
    border: 3px solid orange;
}
.inline {
    display: inline-table;
    border: 1px solid;
    width: 35px; height: 35px;
}

.breaker {
    background: blue;
    display: table-row;
}