.Tab {
    display: inline-block;
    border: 3px solid #3498db;
    border-bottom-style:none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    color: #3498db;
    padding: 0.5em;
    cursor: pointer;
}
.Tab.selected {
    border: 3px solid #eee;
    background: #3498db;
    color: #fff;
}
.Tab > * {
    display: inline;
    vertical-align: middle; 
    margin: 0; padding: 0;
}