
/* 
 * This file is reserved for your global style rules. 
 */
html {
    font-family: sans-serif;
    color: dodgerblue;
    
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0; /* Remove default margin */
}

.selected {
    background: #e74c3c;
}

.conto {
    margin-top: 100px;
    border: 3px solid #FFF;
}
/* Animation */
@-webkit-keyframes mymove {
    from {width: 1.2em; font-size: 1.5em;}
    to {width: 3.2em; font-size: 3.5em;}
}

@-webkit-keyframes mymove1 {
    from {width: 2.2em; font-size: 3.5em; opacity: 1;}
    to {width: 1.2em; font-size: 1.5em; opacity: 0;}
}
.z-nav  {
    font-size: 1.5em;
    color: dodgerblue;
}

.z-nav-toggle {
    width:80px;
    font-size: 2.5em;
}
.z-nav-toggle:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.z-nav-toggle span {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

@media (min-width: 768px) {
    .z-nav {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 100;
        height: 3.2em;
        background: #7f8c8d;
    }
    .z-nav-toggle {
        -webkit-animation: mymove1 1s;  /* Chrome, Safari, Opera */
        -webkit-animation-play-state: runing;  /* Chrome, Safari, Opera */
        animation: mymove1 1s;
        -webkit-animation-play-state: runing;
        -webkit-animation-timing-function: cubic-bezier(1,-0.54,0,1.54);
        -webkit-animation-fill-mode: forwards;
    }
}
/* Small */
@media (max-width: 768px) {
    .z-nav {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 100;
        height: 3.2em;
        background: #7f8c8d;
    }
    .z-nav-toggle {
        font-size: 2.5em;
        color: #fff;
        -webkit-animation: mymove 1s;  /* Chrome, Safari, Opera */
        -webkit-animation-play-state: runing;  /* Chrome, Safari, Opera */
        animation: mymove 1s;
        -webkit-animation-play-state: runing;
        -webkit-animation-timing-function: cubic-bezier(1,-0.54,0,1.54);
        -webkit-animation-fill-mode: initial;
        
    }

}