.TabControl {

}

.tab-bar {
    z-index: 10;
    position: relative; 
     
}
.subt {
     border: 3px solid #3498db;
     border-radius: 0.5em;
     height: 300px;
     top: -13px;
     padding: 0;
     overflow: hidden; 
     position: relative; 
     z-index: 5;
}